{% extends "recruiter/recruiter_base.html" %}

{% block content %}

<div class="form-card">

    <h1>Post New Job</h1>

    <form method="POST">

        {% csrf_token %}

        <input
            type="text"
            name="title"
            placeholder="Job Title"
            required
        >

        <input
            type="text"
            name="location"
            placeholder="Location"
            required
        >

        <select name="employment_type">

            <option value="">
                Select Employment Type
            </option>

            <option value="Full Time">
                Full Time
            </option>

            <option value="Part Time">
                Part Time
            </option>

            <option value="Internship">
                Internship
            </option>

            <option value="Contract">
                Contract
            </option>

        </select>

        <div class="form-group">
            <!-- <label for="experience_level">Experience Level</label> -->

            <select id="experience_level" name="experience_level" required>
                <option value="">Select Experience</option>
                <option value="Fresher">Fresher</option>
                <option value="0-2 Years">0–2 Years</option>
                <option value="2-5 Years">2–5 Years</option>
                <option value="5+ Years">5+ Years</option>
            </select>
        </div>

        <input
            type="text"
            name="salary"
            placeholder="Salary"
        >
        <input
            type="date"
            name="valid_until"
            required
        >
        <textarea
            name="skills"
            placeholder="Required Skills"
        ></textarea>

        <textarea
            name="description"
            placeholder="Job Description"
        ></textarea>

        <button type="submit"
                class="submit-btn">

            Post Job

        </button>

    </form>

</div>

{% endblock %}