{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="UTF-8">

    <meta name="viewport"
          content="width=device-width, initial-scale=1.0">

    <title>
        Recruiter Registration
    </title>

    <link rel="stylesheet"
          href="{% static 'css/register.css' %}">

    <link rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css">

</head>

<body>

<div class="register-box">

    <h1>Create Recruiter Account</h1>

    <p>
        Find and hire the best talent with HIRIN'
    </p>

    {% if error %}
    <div style="color:red; margin-bottom:10px;">
        {{ error }}
    </div>
    {% endif %}
    
    <form method="POST" action="{% url 'recruiter_register' %}">
    {% csrf_token %}

        <input type="text"
            name="recruiter_name"
            placeholder="Recruiter Name">

        <input type="text"
            name="company_name"
            placeholder="Company Name">

        <input type="email"
            name="email"
            placeholder="Company Email">

        <input type="password"
            name="password1"
            placeholder="Password">

        <input type="password"
            name="password2"
            placeholder="Confirm Password">

        <button type="submit"
                class="register-btn">

            Create Account

        </button>

    </form>

    <div class="divider">
        OR
    </div>

    <button class="google-btn">

        <i class="fa-brands fa-google"></i>

        Continue with Google

    </button>

    <div class="login-link">

        Already have an account?

        <a href="/login/">
            Login
        </a>

    </div>

</div>

</body>
</html>